<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Details</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/flightStyle.css">
</head>
<body>
    <header>
    <div class="background-image"></div>
    <div class="logo">
        Travel
    </div>
    <button class="login-btn">Help</button>
    <warpper>
        <div class="form-box-bus">
            <h3>Input FLight Details</h3>
            <form action="/next-flg" method="post">
                <div class="from-box">
                    <select name="from-state" id="from-state" class="form-control" required>
                        <option value="From" class="from-display" disabled selected>From</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                        </select>
                </div>
                
                <div class="to-box">
                    <select name="to-state" id="to-state" class="form-control" required>
                        <option value="To" disabled selected>To</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                        </select>
                </div>

                <!-- <div class="input-box-b1">
                    <span class="icon"><ion-icon name="bus"></ion-icon>
                    </span>
                    <input type="bus_name" required>
                    <label>Bus Name</label>
                </div> -->
                <div class="input-box-t1">
                    <span class="icon"><ion-icon name="calendar"></ion-icon>
                    </span>
                    <input name="book-date" id="book-date" placeholder="Enter booking date" type="date" required>
                    <label>Booking Date</label>
                </div>
                <div class="input-box-t2">
                    <input type="number" minlength="10" name="pnr" id="pnr" placeholder="Entr your unique number" required>
                    <label>Pnr Number</label>
                </div>
                <button type="button" class="nx-btn">Next</button>                
                <button type="submit" class="nx-save-btn">Save</button>
            </form>
            

        </div>
        <div class="form-box-bus2">
            <!-- <h4>R</h4> -->
            <form action="/save-flg" method="post">
                <div class="input-box-b3">
                    <label>Age:</label>
                    <input type="number" name="age" placeholder="Age as per ticket " min="6" required>
                    
                </div>
                <div class="input-box-b4">
                    <label>FLight No:</label>
                    <input type="text" name="flg-no" placeholder="Flight code" required>
                    
                </div>
                <div class="input-box-b5">
                    <label>Class:</label>
                    <select name="cls" id="cls" class="form-control" required>
                        <option value="Select" disabled selected>Select</option>
                        <option value="Buisness">Buisness</option>
                        <option value="Economy">Economy</option>
                    </select>
                </div>
                <div class="input-box-b6">
                    <label>Seat Number:</label>
                    <input type="number" min="1" placeholder="Seat number without prefix" name="st-no" required>
                    
                </div>
                <div class="input-box-b7">
                    <label>Travelling Date:</label>
                    <input type="date" placeholder="Enter travelling date" name="bk-date" required>
                    
                </div>
                <div class="input-box-b8">
                    <label>Departure Time:</label>
                    </span>
                    <input type="time" placeholder="Enter exact time of departure" name="dep-time" required>
                </div>
                <div class="input-box-b9">
                    <label>Departure Place:</label>
                    <input type="text" name="dep-place" placeholder="Enter airport name" min="60" max="135" required>
                </div>
                <div class="input-box-b10">
                    <label>FLight type:</label>
                    <select name="type" id="type" class="form-control" required>
                        <option value="Select" disabled selected>Type</option>
                        <option value="Single stop">Single Stop</option>
                        <option value="Two stop">Two Stop</option>
                        <option value="Three stop">Three Stop</option>
                    </select>
                </div>
                <div class="input-box-b11">
                    <label>Food option:</label>
                    <select name="food-opt" id="food-opt" class="form-control" required>
                        <option value="Select" disabled selected>Ac/Non-AC</option>
                        <option value="yes: Needed">Want Food</option>
                        <option value="No: Not Needed">Don't Want Food</option>
                    </select>
                </div>
                <div class="input-box-b12">
                    <label>Ticket Price:</label>
                    <input type="number"  name="price" step="50"  placeholder="₹" required>
                </div>
                <div class="input-box-b13">
                    <label>User ID:</label>
                    <input type="text"  name="id" minlength="6" placeholder="TTM18 . . . ." required>
                </div>
                <button type="submit" class="sv-btn">Save</button>
            </form>
        </div>
        <!-- <div class="result-page" id="result"></div> -->
    </warpper>
    
    <nav>
        <div class="menu">
            <a href="/" class="home-page">Home</a>
            <a href="/bus" class="bus-page">Bus</a>
            <a href="/train" class="train-page">Train</a>
            <a href="/flight" class="flight-page">Flight</a>
            <a href="/manager" class="manager-page">Manager</a>
        </div>
    </nav>
    <!-- <section class="title-txt">
        <span>Enjoy</span>
        <h1>The Best Travel Manager</h1>
        <br>
    </section> -->
    </header>
    <script src="/static/script/flight-script.js"></script>
    <script src="pnr-check.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</body>
</html>
