@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap');
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-image:url('/static/images/home_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
nav{
    position: absolute;
    top: 105px;
    left:308px;
    width: 850px;
    height: 77.62px;
    background-color: white;
    color:rgb(0, 0, 0);
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    word-spacing: 28px;
    justify-content: space-around;
    align-items: center;
}
.login-btn{
    position: absolute;
    top: 22px;
    right: 15px;
    width: 130px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: 0.2s;
}
.login-btn:hover{
    background: white;
    color: black;
}
.logo{
    position: absolute;
    top:10px;
    left:35px;
    font-weight: 200;
    color:aliceblue;
    font-size:3em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color:black;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    
}
.menu a:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    border-bottom: 2.5px solid red;
    transition: 0.1s linear;
}
.menu a:hover::before{
    width: 100%;
}
.title-txt{
    max-width: 650px;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.title-txt span{
    letter-spacing: 5px;
}
.title-txt h1{
    font-size: 3em;
}
.form-box-login a{
    position: relative;
    top:415px;
    border-radius: 10px;
    text-decoration:none;
    background: rgb(255, 0, 0);
    color: aliceblue;
    padding: 7px 20px;
}
.form-box-login a:hover{
    background: white;
    color: black;
    border: 1px solid red;
}
.welcome-txt p{
    position: absolute;
    top:80px;
    left:50px;
    font-size: 1.8em;
    font-family: 'Pixelify Sans', sans-serif;
    /* text-shadow:-3px 5px 3px rgb(198, 198, 198); */
    padding: 60px 50px;
    color:rgba(0, 0, 0, 0.935);
}
.heading{
    position: absolute;
    text-shadow:-3px 5px 3px rgb(198, 198, 198);
    font-family: 'Pixelify Sans', sans-serif;
    top:0px;
    left: 0px;
    padding: 40px 100px;
    font-size: 3em;
}
/* .home .welcome-txt{
    transform: translateX(-1100px);
    display: none;
}
.home .heading{
    display: none;
} */

warpper{
    background-color: rgba(255, 255, 255);
    width:1264px;
    height:590px;
    position: absolute;
    top:150px;
    left:105px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 20px;
    transition: height .2s ease;
}

.display-box{
    position: absolute;
    transform: translateY(0px);
    width: 100%;
    padding:40px;
    transition: 0.18s ease;
}
/* .id-content{
    position:absolute;
    top:100px;
    left:250px;
    width:78%;
    height: 60px;
    font-size: 1.6em;

} */
.tid{
    font-size: 1.7em;
    position: absolute;
    top:70px;
    left:300px;
    height: 70px;
    width: 300px;
    text-align:center;
    padding: 10px 10px;
    color: black;
    background: rgb(212, 212, 212);
    border: 2px solid black;
    border-radius: 10px;
    background-size: 30%;
}

.input-tid{
    font-size: 1.7em;
    position: absolute;
    top:70px;
    left:600px;
    height: 70px;
    width: 300px;
    text-align:center;
    padding: 10px 10px;
    border-radius: 10px;
    color: red;
}

.id-content1{
    position:absolute;
    top:100px;
    left: 150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content2{
    position:absolute;
    top:170px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content3{
    position:absolute;
    top:240px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content4{
    position:absolute;
    top:310px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content5{
    position:absolute;
    top:380px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content6{
    position:absolute;
    top:450px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content7{
    position:absolute;
    top:520px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content8{
    position:absolute;
    top:590px;
    left:150px;
    width:400px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content9{
    position:absolute;
    top:100px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content10{
    position:absolute;
    top:170px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}

.id-content11{
    position:absolute;
    top:240px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content12{
    position:absolute;
    top:310px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content13{
    position:absolute;
    top:380px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;
    /* margin: 30px 0; */
}
.id-content14{
    position:absolute;
    top:450px;
    left:600px;
    width:630px;
    text-align: left;
    padding: 15px 10px;
    border-radius: 10px;
    background-color:beige;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    /* word-spacing: 28px; */
    height: 60px;
    font-size: 1.3em;

}

.id-note{
    position:absolute;
    top:650px;
    left:150px;
    width:78%;
    color: gray;
    height: 60px;
    font-size: 1.2em;
}
/*
.id-content3a{
    position:absolute;
    top:250px;
    color: yellow;
    left:550px;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-content4b{
    position:absolute;
    top:300px;
    left:550px;
    color: yellow;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-content5c{
    position:absolute;
    top:350px;
    left:550px;
    color: yellow;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-content6d{
    position:absolute;
    top:400px;
    left:550px;
    color: yellow;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-content7e{
    position:absolute;
    top:470px;
    left:550px;
    color: yellow;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-content8f{
    position:absolute;
    top:170px;
    left:1150px;
    color: yellow;
    width:78%;
    height: 60px;
    font-size: 1.3em;
}
.id-note{
    position:absolute;
    top:500px;
    left:150px;
    width:78%;
    color: gray;
    height: 60px;
    font-size: 1.2em;
}
*/
.bk-btn{
    position: absolute;
    width: 170px;
    height: 42px;
    top:330px;
    left: 492px;
    font-size: 1em;
    color: white;
    border-radius: 15px;
    border: solid black;
    background-color: red;
    transition: 0.5s;
}
.bk-btn:hover{
    width: 180px;
    height:45px;
    left: 488px;
    color: red;
    border-radius: 15px;
    border: solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
} */
