@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap');
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-image:url('/static/images/home_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
nav{
    position: absolute;
    top: 275px;
    left:308px;
    width: 850px;
    height: 77.62px;
    background-color:white;
    color:rgb(0, 0, 0);
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
    word-spacing: 28px;
    justify-content: space-around;
    align-items: center;
}
.login-btn{
    position: absolute;
    top: 22px;
    right: 15px;
    width: 130px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: 0.2s;
}
.login-btn:hover{
    background: white;
    color: black;
}
.logo{
    position: absolute;
    top:10px;
    left:35px;
    font-weight: 200;
    color:aliceblue;
    font-size:3em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color:black;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    
}
.menu a:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    border-bottom: 2.5px solid red;
    transition: 0.1s linear;
}
.menu a:hover::before{
    width: 100%;
}
.title-txt{
    max-width: 650px;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.title-txt span{
    letter-spacing: 5px;
}
.title-txt h1{
    font-size: 3em;
}
.form-box-login a{
    position: relative;
    top:415px;
    border-radius: 10px;
    text-decoration:none;
    background: rgb(255, 0, 0);
    color: aliceblue;
    padding: 7px 20px;
}
.form-box-login a:hover{
    background: white;
    color: black;
    border: 1px solid red;
}
.welcome-txt p{
    position: absolute;
    top:80px;
    left:50px;
    font-size: 1.8em;
    font-family: 'Pixelify Sans', sans-serif;
    /* text-shadow:-3px 5px 3px rgb(198, 198, 198); */
    padding: 60px 50px;
    color:rgba(0, 0, 0, 0.935);
}
.heading{
    position: absolute;
    text-shadow:-3px 5px 3px rgb(198, 198, 198);
    font-family: 'Pixelify Sans', sans-serif;
    top:0px;
    left: 0px;
    padding: 40px 100px;
    font-size: 3em;
}
/* .home .welcome-txt{
    transform: translateX(-1100px);
    display: none;
}
.home .heading{
    display: none;
} */

warpper{
    width:1164px;
    height:396px;
    position: absolute;
    top:320px;
    left:155px;
    background-color: rgba(255, 255, 255);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 20px;
    transition: height .2s ease;
}


.form-box-login{
    /* display: none; */
    width: 100%;
    padding:40px;
    transition:  transform .18s ease;
    transform: translateX(0px);
}

.active .form-box-login{
    transform:translateX(-1100px) ;
}

.form-box-login h2{
    font-size: 2em;
    color:black;
    text-align:center ;
}

.input-box1{
    position:absolute;
    top:150px;
    left:130px;
    width:78%;
    height: 60px;
    /* border-bottom:2px solid black ; */
    /* margin: 30px 0; */
}
.input-box1 input{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border: 1.5 px solid black;
    border-radius:10px;
}
.input-box2{
    position:absolute;
    top:250px;
    left:130px;
    width:78%;
    height:60px;
    /* border-bottom:2px solid black ; */
    /* margin: 30px 0; */
}
.input-box2 input{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border: 1.5 px solid black;
    border-radius:10px;
}
.input-box3{
    position:absolute;
    top:150px;
    left:700px;
    width:78%;
    height: 60px;
    /* margin: 30px 0; */
}
.input-box3 input{
    width: 250px;
    padding-left: 20px;
    height: 40px;
    border: 1.5 px solid black;
    border-radius:10px;
}

.input-box4{
    position:absolute;
    top:250px;
    left:680px;
    width:78%;
    height: 60px;
    /* margin: 30px 0; */
}


.input-box4 input{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border: 1.5 px solid black;
    border-radius:10px;
}
.reg-btn{
    position: absolute;
    width: 170px;
    height: 42px;
    top:330px;
    left: 492px;
    font-size: 1em;
    color: white;
    border-radius: 15px;
    border: solid black;
    background-color: red;
    transition: 0.5s;
}
.reg-btn:hover{
    width: 180px;
    height:45px;
    left: 488px;
    color: red;
    border-radius: 15px;
    border: solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px rgb(99, 99, 99);
}

.display-box{
    position: absolute;
    transform: translateY(450px);
    width: 100%;
    padding:40px;
    transition: 0.18s ease;
}
.active .display-box{
    transition:  transform .18s ease;
    transform: translateY(-0px);
}
